In [1]:
import pandas as pd

In [62]:
act = pd.read_csv('코스닥_활동성.csv')
act.drop(columns = ['결산월', '주기', '매출원가(천원)','재고자산(천원)'], inplace = True)

In [63]:
df = pd.read_csv('코스닥_재고자산회전율.csv')
df.columns

Index(['Symbol', 'Name', '결산월', '회계년', '주기', '총자산(천원)', '유형자산(천원)', '유동자산(천원)',
       '매출원가(천원)', '매출액(천원)', '유무형자산상각비(천원)', '영업이익(천원)', '영업활동으로인한현금흐름(천원)',
       '유동부채(천원)', '비유동부채(천원)', '판매비와관리비(천원)', '매출채권(천원)', '재고자산(천원)',
       '당기순이익(천원)', '재고자산회전율', 'prev_재고자산(천원)', '평균 재고자산'],
      dtype='object')

In [13]:
#df.drop(columns = ['결산월', '주기', '매출원가(천원)', '유동자산(천원)', '재고자산(천원)','유형자산(천원)', '총자산(천원)', '판매비와관리비(천원)'], inplace=True)
df.drop(columns = ['당기순이익(천원)', '유동부채(천원)', '비유동부채(천원)', '영업활동으로인한현금흐름(천원)', '영업이익(천원)', '유무형자산상각비(천원)'], inplace=True)

In [64]:
act

,Symbol,Name,회계년,총자산회전율(회),총부채회전율(회),총자본회전율(회),자본금회전율(회),매출채권(천원),매출액(천원)
0,A247540,에코프로비엠,2016,NaN,NaN,NaN,NaN,"25,039,163","99,849,156"
1,A247540,에코프로비엠,2017,1.1,1.86,2.7,37.4,0,"289,870,411"
2,A247540,에코프로비엠,2018,1.55,2.43,4.27,74.23,"49,271,859","589,185,698"
3,A247540,에코프로비엠,2019,1.11,2.11,2.32,66.95,"56,895,445","616,085,055"
4,A247540,에코프로비엠,2020,1.18,2.79,2.04,82.2,"79,193,560","854,748,844"
...,...,...,...,...,...,...,...,...,...
18640,A900180,완리,2013,0.71,2.09,1.07,30.57,"36,518,891","222,881,615"
18641,A900180,완리,2014,0.62,1.74,0.97,5.44,"44,974,810","237,822,068"
18642,A900180,완리,2015,0.6,1.64,0.94,3.34,"57,350,337","269,842,389"
18643,A900180,완리,2016,0.45,1.33,0.67,2.34,"61,722,356","219,272,916"
18644,A900180,완리,2017,0.36,1.18,0.52,1.68,"47,293,191","172,646,923"

In [65]:
long = pd.read_csv('장기매출채권/장기매출채권_코스닥.csv')

In [67]:
long

        Symbol    Name  결산월   회계년      주기 장기매출채권및기타채권(천원)
0      A247540  에코프로비엠   12  2011  Annual             NaN
1      A247540  에코프로비엠   12  2012  Annual             NaN
2      A247540  에코프로비엠   12  2013  Annual             NaN
3      A247540  에코프로비엠   12  2014  Annual             NaN
4      A247540  에코프로비엠   12  2015  Annual             NaN
...        ...     ...  ...   ...     ...             ...
27811  A900180      완리   12  2018  Annual             NaN
27812  A900180      완리   12  2019  Annual             NaN
27813  A900180      완리   12  2020  Annual             NaN
27814  A900180      완리   12  2021  Annual             NaN
27815  A900180      완리   12  2022  Annual             NaN

[27816 rows x 6 columns]

In [69]:
act = pd.merge(act, long, on = ['Symbol', 'Name', '회계년'])
act.columns

Index(['Symbol', 'Name', '회계년', '총자산회전율(회)', '총부채회전율(회)', '총자본회전율(회)',
       '자본금회전율(회)', '매출채권(천원)', '매출액(천원)', '재고자산회전율', '결산월', '주기',
       '장기매출채권및기타채권(천원)'],
      dtype='object')

In [70]:
# 쉼표를 제거하고 숫자로 변환
act['매출액(천원)'] = act['매출액(천원)'].str.replace(',', '').astype(float)
act['장기매출채권및기타채권(천원)'] = act['장기매출채권및기타채권(천원)'].str.replace(',', '').astype(float)
act['매출채권(천원)'] = act['매출채권(천원)'].str.replace(',', '').astype(float)

In [71]:
act['매출채권회전율'] = act['매출액(천원)'] / (act['장기매출채권및기타채권(천원)'] + act['매출채권(천원)'])

In [73]:
act.drop(columns = ['결산월', '주기'], inplace = True)
act

,Symbol,Name,회계년,총자산회전율(회),총부채회전율(회),총자본회전율(회),자본금회전율(회),매출채권(천원),매출액(천원),재고자산회전율,장기매출채권및기타채권(천원),매출채권회전율
0,A247540,에코프로비엠,2016,NaN,NaN,NaN,NaN,25039163.0,99849156.0,0.000000,0.0,3.987719
1,A247540,에코프로비엠,2017,1.1,1.86,2.7,37.4,0.0,289870411.0,6.799276,0.0,inf
2,A247540,에코프로비엠,2018,1.55,2.43,4.27,74.23,49271859.0,589185698.0,996.745358,0.0,11.957854
3,A247540,에코프로비엠,2019,1.11,2.11,2.32,66.95,56895445.0,616085055.0,3.347052,0.0,10.828372
4,A247540,에코프로비엠,2020,1.18,2.79,2.04,82.2,79193560.0,854748844.0,5.520240,0.0,10.793161
...,...,...,...,...,...,...,...,...,...,...,...,...
18616,A900180,완리,2013,0.71,2.09,1.07,30.57,36518891.0,222881615.0,6.023636,0.0,6.103187
18617,A900180,완리,2014,0.62,1.74,0.97,5.44,44974810.0,237822068.0,3.739967,0.0,5.287895
18618,A900180,완리,2015,0.6,1.64,0.94,3.34,57350337.0,269842389.0,3.900727,0.0,4.705158
18619,A900180,완리,2016,0.45,1.33,0.67,2.34,61722356.0,219272916.0,4.798740,0.0,3.552569
18620,A900180,완리,2017,0.36,1.18,0.52,1.68,47293191.0,172646923.0,12.946934,0.0,3.650566

In [78]:
act.to_csv('코스닥_활동성.csv', index=False, encoding='utf-8-sig')

In [79]:
pd.read_csv('코스닥_활동성.csv')

,Symbol,Name,회계년,총자산회전율(회),총부채회전율(회),총자본회전율(회),자본금회전율(회),매출채권(천원),매출액(천원),재고자산회전율,장기매출채권및기타채권(천원),매출채권회전율
0,A247540,에코프로비엠,2016,NaN,NaN,NaN,NaN,25039163.0,99849156.0,0.000000,0.0,3.987719
1,A247540,에코프로비엠,2017,1.1,1.86,2.7,37.4,0.0,289870411.0,6.799276,0.0,inf
2,A247540,에코프로비엠,2018,1.55,2.43,4.27,74.23,49271859.0,589185698.0,996.745358,0.0,11.957854
3,A247540,에코프로비엠,2019,1.11,2.11,2.32,66.95,56895445.0,616085055.0,3.347052,0.0,10.828372
4,A247540,에코프로비엠,2020,1.18,2.79,2.04,82.2,79193560.0,854748844.0,5.520240,0.0,10.793161
...,...,...,...,...,...,...,...,...,...,...,...,...
18616,A900180,완리,2013,0.71,2.09,1.07,30.57,36518891.0,222881615.0,6.023636,0.0,6.103187
18617,A900180,완리,2014,0.62,1.74,0.97,5.44,44974810.0,237822068.0,3.739967,0.0,5.287895
18618,A900180,완리,2015,0.6,1.64,0.94,3.34,57350337.0,269842389.0,3.900727,0.0,4.705158
18619,A900180,완리,2016,0.45,1.33,0.67,2.34,61722356.0,219272916.0,4.798740,0.0,3.552569
18620,A900180,완리,2017,0.36,1.18,0.52,1.68,47293191.0,172646923.0,12.946934,0.0,3.650566

In [68]:
act['재고자산회전율'] = df['재고자산회전율']
act

,Symbol,Name,회계년,총자산회전율(회),총부채회전율(회),총자본회전율(회),자본금회전율(회),매출채권(천원),매출액(천원),재고자산회전율
0,A247540,에코프로비엠,2016,NaN,NaN,NaN,NaN,"25,039,163","99,849,156",0.000000
1,A247540,에코프로비엠,2017,1.1,1.86,2.7,37.4,0,"289,870,411",6.799276
2,A247540,에코프로비엠,2018,1.55,2.43,4.27,74.23,"49,271,859","589,185,698",996.745358
3,A247540,에코프로비엠,2019,1.11,2.11,2.32,66.95,"56,895,445","616,085,055",3.347052
4,A247540,에코프로비엠,2020,1.18,2.79,2.04,82.2,"79,193,560","854,748,844",5.520240
...,...,...,...,...,...,...,...,...,...,...
18640,A900180,완리,2013,0.71,2.09,1.07,30.57,"36,518,891","222,881,615",6.023636
18641,A900180,완리,2014,0.62,1.74,0.97,5.44,"44,974,810","237,822,068",3.739967
18642,A900180,완리,2015,0.6,1.64,0.94,3.34,"57,350,337","269,842,389",3.900727
18643,A900180,완리,2016,0.45,1.33,0.67,2.34,"61,722,356","219,272,916",4.798740
18644,A900180,완리,2017,0.36,1.18,0.52,1.68,"47,293,191","172,646,923",12.946934

매출액, 매출채권, 장기매출채권

In [1]:
import pandas as pd

kospi = pd.read_csv('../진짜자료/코스피_합체.csv')
df = pd.read_csv('../datasets/코스피코스닥/코스피_beniesh_M-score.csv')

In [2]:
kospi

,Unnamed: 0,Symbol,Name,회계년,매출총이익률(%),영업이익률(%),당기순이익률(%),자본금영업이익률(%),*영업수익/영업비용(%),세전계속사업이익률(%),...,현금흐름/총자본(%),현금흐름/영업수익(%),DSRI,GMI,AQI,SGI,DEPI,SGAI,LVGI,TATA
0,0,A005930,삼성전자,2012,37.02,14.44,11.86,"3,236.64",116.88,14.88,...,3.940351,19.3,0.894689,0.865279,0.978884,1.218797,0.010662,1.001059,0.941047,-0.049281
1,1,A005930,삼성전자,2013,39.79,16.08,13.33,"4,098.54",119.17,16.78,...,-1.450918,20.23,0.920906,0.930428,0.929372,1.137188,0.011489,1.049976,0.909246,-0.046350
2,2,A005930,삼성전자,2014,37.79,12.14,11.35,"2,788.27",113.81,13.52,...,0.661481,19.95,1.096005,1.052893,1.148993,0.901673,0.012529,1.082266,0.904046,-0.051863
3,3,A005930,삼성전자,2015,38.46,13.16,9.5,"2,942.96",115.16,12.94,...,3.529807,19.75,1.047373,0.982603,0.854211,0.973073,0.013063,0.986019,0.963436,-0.056356
4,4,A005930,삼성전자,2016,40.42,14.49,11.26,"3,257.96",116.94,15.21,...,4.693881,21.36,0.958887,0.951574,0.875403,1.006047,0.011099,1.025135,1.012883,-0.069210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8343,8343,A900050,중국원양자원,2016,-110.77,-140.37,-200.89,-67.73,41.6,-200.89,...,-0.014672,-161.05,0.000000,-0.106683,0.256866,0.979768,0.000122,1.102433,1.669647,-0.424356
8344,8344,A950010,평산차업 KDR,2012,11.25,-2.81,-35.39,-104.07,97.27,-35.34,...,-7.494016,-35.39,1.264381,1.358430,0.461661,0.766340,0.000000,1.146383,1.026867,-0.074683
8345,8345,A950010,평산차업 KDR,2013,14.24,1.28,-1.03,12.4,101.29,-0.82,...,24.973075,9.58,1.100433,0.789968,11.240922,1.126943,0.000000,0.921792,1.011008,-0.027439
8346,8346,A950010,평산차업 KDR,2014,42.91,26.11,-170.71,88.59,135.34,-85.42,...,14.720683,-160.09,0.141771,0.331720,1.195305,0.729570,0.000000,1.296470,1.170136,-0.029925
8347,8347,A950070,중국고섬,2012,3.49,-14.88,-17.61,-3.57,87.05,-17.16,...,-29.123600,-11.6,2.011561,0.397187,0.754792,0.871838,0.000000,1.831793,2.006525,0.003143

In [3]:
df

,Symbol,Name,결산월,회계년,주기,매출액(천원),매출채권(천원),매출원가(천원),유동자산(천원),재고자산(천원),유형자산(천원),총자산(천원),판매비와관리비(천원),당기순이익(천원),유동부채(천원),비유동부채(천원),영업활동으로인한현금흐름(천원),영업이익(천원),유무형자산상각비(천원)
0,A005930,삼성전자,12,2011,Annual,"165,001,771,000","21,882,127,000","112,145,120,000","71,502,063,000","15,716,715,000","62,043,951,000","155,800,263,000","37,212,360,000","13,759,043,000","44,319,014,000","10,167,619,000","22,917,901,000","15,644,291,000","668,620,000"
1,A005930,삼성전자,12,2012,Annual,"201,103,613,000","23,861,235,000","126,651,931,000","87,269,017,000","17,747,413,000","68,484,743,000","181,071,570,000","45,402,344,000","23,845,285,000","46,933,052,000","12,658,312,000","37,972,809,000","29,049,338,000","795,989,000"
2,A005930,삼성전자,12,2013,Annual,"228,692,667,000","24,988,532,000","137,696,309,000","110,760,271,000","19,134,868,000","75,496,388,000","214,075,018,000","54,211,345,000","30,474,764,000","51,315,409,000","12,743,599,000","46,707,440,000","36,785,013,000","957,931,000"
3,A005930,삼성전자,12,2014,Annual,"206,205,987,000","24,694,610,000","128,278,800,000","115,146,026,000","17,317,504,000","80,872,950,000","230,422,958,000","52,902,116,000","23,394,358,000","52,013,913,000","10,320,857,000","36,975,389,000","25,025,071,000","1,070,426,000"
4,A005930,삼성전자,12,2015,Annual,"200,653,482,000","25,168,026,000","123,482,118,000","124,814,725,000","18,811,794,000","86,477,110,000","242,179,521,000","50,757,922,000","19,060,144,000","50,502,909,000","12,616,807,000","40,061,761,000","26,413,442,000","970,591,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9184,A950010,평산차업 KDR,9,2012,Annual,"79,180,261","22,315,291","70,276,267","100,155,534","9,105,980","138,196,896","249,231,222","11,129,662","-28,019,124","38,707,555","21,230,456","16,387,647","-2,225,668",0
9185,A950010,평산차업 KDR,9,2013,Annual,"89,231,630","27,673,755","76,529,472","242,052,695","10,176,875","141,392,790","752,827,302","11,561,565","-915,033","82,361,282","100,680,295","21,797,167","1,140,593",0
9186,A950010,평산차업 KDR,12,2014,Annual,"65,100,699","2,862,340","37,164,155","261,958,665","24,232,259","30,871,612","708,153,685","10,935,683","-111,135,394","123,825,254","77,648,341","38,192,401","17,000,861",0
9187,A950070,중국고섬,12,2011,Annual,"100,586,465","3,555,295","99,193,885","83,603,086","7,440,750","96,839,441","286,492,335","10,085,744","-37,130,265","60,737,320",0,"-18,326,012","-8,693,164",0
9188,A950070,중국고섬,12,2012,Annual,"87,695,102","6,235,119","84,638,348","50,226,258","7,501,874","197,756,878","344,133,495","16,107,202","-15,443,063","146,390,884",0,"-14,132,145","-13,050,448",0

In [4]:
act =pd.DataFrame()
act['Symbol'] = df['Symbol']
act['Name'] = df['Name']
act['회계년'] = df['회계년']
act['매출원가'] = df['매출원가(천원)']
act['재고자산'] = df['재고자산(천원)']
act

       Symbol      Name   회계년             매출원가            재고자산
0     A005930      삼성전자  2011  112,145,120,000  15,716,715,000
1     A005930      삼성전자  2012  126,651,931,000  17,747,413,000
2     A005930      삼성전자  2013  137,696,309,000  19,134,868,000
3     A005930      삼성전자  2014  128,278,800,000  17,317,504,000
4     A005930      삼성전자  2015  123,482,118,000  18,811,794,000
...       ...       ...   ...              ...             ...
9184  A950010  평산차업 KDR  2012       70,276,267       9,105,980
9185  A950010  평산차업 KDR  2013       76,529,472      10,176,875
9186  A950010  평산차업 KDR  2014       37,164,155      24,232,259
9187  A950070      중국고섬  2011       99,193,885       7,440,750
9188  A950070      중국고섬  2012       84,638,348       7,501,874

[9189 rows x 5 columns]

In [5]:
# 쉼표를 제거하고 숫자로 변환
act['매출원가'] = act['매출원가'].str.replace(',', '').astype(float)
act['재고자산'] = act['재고자산'].str.replace(',', '').astype(float)

In [6]:
act

       Symbol      Name   회계년          매출원가          재고자산
0     A005930      삼성전자  2011  1.121451e+11  1.571672e+10
1     A005930      삼성전자  2012  1.266519e+11  1.774741e+10
2     A005930      삼성전자  2013  1.376963e+11  1.913487e+10
3     A005930      삼성전자  2014  1.282788e+11  1.731750e+10
4     A005930      삼성전자  2015  1.234821e+11  1.881179e+10
...       ...       ...   ...           ...           ...
9184  A950010  평산차업 KDR  2012  7.027627e+07  9.105980e+06
9185  A950010  평산차업 KDR  2013  7.652947e+07  1.017688e+07
9186  A950010  평산차업 KDR  2014  3.716416e+07  2.423226e+07
9187  A950070      중국고섬  2011  9.919388e+07  7.440750e+06
9188  A950070      중국고섬  2012  8.463835e+07  7.501874e+06

[9189 rows x 5 columns]

In [7]:
act['재고자산'].isna().sum()

40

In [9]:
for company in act['Name'].unique():
    company_data = act[act['Name'] == company]
    company_data['평균재고자산'] = (company_data['재고자산'] + company_data['재고자산'].shift(1)) / 2 
    act.loc[company_data.index, '평균재고자산'] = company_data['평균재고자산']

C:\Users\Master\AppData\Local\Temp\ipykernel_19072\2672800433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['평균재고자산'] = (company_data['재고자산'] + company_data['재고자산'].shift(1)) / 2
C:\Users\Master\AppData\Local\Temp\ipykernel_19072\2672800433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['평균재고자산'] = (company_data['재고자산'] + company_data['재고자산'].shift(1)) / 2

In [10]:
act['평균재고자산'].isna().sum()

860

In [11]:
act.head(20)

     Symbol    Name   회계년          매출원가          재고자산        평균재고자산
0   A005930    삼성전자  2011  1.121451e+11  1.571672e+10           NaN
1   A005930    삼성전자  2012  1.266519e+11  1.774741e+10  1.673206e+10
2   A005930    삼성전자  2013  1.376963e+11  1.913487e+10  1.844114e+10
3   A005930    삼성전자  2014  1.282788e+11  1.731750e+10  1.822619e+10
4   A005930    삼성전자  2015  1.234821e+11  1.881179e+10  1.806465e+10
5   A005930    삼성전자  2016  1.202777e+11  1.835350e+10  1.858265e+10
6   A005930    삼성전자  2017  1.292907e+11  2.498336e+10  2.166843e+10
7   A005930    삼성전자  2018  1.323944e+11  2.898470e+10  2.698403e+10
8   A005930    삼성전자  2019  1.472395e+11  2.676646e+10  2.787558e+10
9   A005930    삼성전자  2020  1.444883e+11  3.204314e+10  2.940480e+10
10  A005930    삼성전자  2021  1.664113e+11  4.138440e+10  3.671377e+10
11  A005930    삼성전자  2022  1.900418e+11  5.218787e+10  4.678614e+10
12  A000660  SK하이닉스  2011  8.704921e+09  1.183608e+09           NaN
13  A000660  SK하이닉스  2012  8.550989e+09  1.509331e+09  1.346470e+09
14  A000660  SK하이닉스  2013  8.864587e+09  1.178300e+09  1.343816e+09
15  A000660  SK하이닉스  2014  9.461725e+09  1.497563e+09  1.337932e+09
16  A000660  SK하이닉스  2015  1.051535e+10  1.923376e+09  1.710470e+09
17  A000660  SK하이닉스  2016  1.078714e+10  2.026198e+09  1.974787e+09
18  A000660  SK하이닉스  2017  1.270184e+10  2.640439e+09  2.333318e+09
19  A000660  SK하이닉스  2018  1.518084e+10  4.422733e+09  3.531586e+09

In [12]:
for company in act['Name'].unique():
    company_data = act[act['Name'] == company]
    company_data['재고자산회전율'] = (company_data['매출원가'] + company_data['평균재고자산'])
    act.loc[company_data.index, '재고자산회전율'] = company_data['재고자산회전율']
act

C:\Users\Master\AppData\Local\Temp\ipykernel_19072\324805951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['재고자산회전율'] = (company_data['매출원가'] + company_data['평균재고자산'])
C:\Users\Master\AppData\Local\Temp\ipykernel_19072\324805951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['재고자산회전율'] = (company_data['매출원가'] + company_data['평균재고자산'])

,Symbol,Name,회계년,매출원가,재고자산,평균재고자산,재고자산회전율
0,A005930,삼성전자,2011,1.121451e+11,1.571672e+10,NaN,NaN
1,A005930,삼성전자,2012,1.266519e+11,1.774741e+10,1.673206e+10,1.433840e+11
2,A005930,삼성전자,2013,1.376963e+11,1.913487e+10,1.844114e+10,1.561374e+11
3,A005930,삼성전자,2014,1.282788e+11,1.731750e+10,1.822619e+10,1.465050e+11
4,A005930,삼성전자,2015,1.234821e+11,1.881179e+10,1.806465e+10,1.415468e+11
...,...,...,...,...,...,...,...
9184,A950010,평산차업 KDR,2012,7.027627e+07,9.105980e+06,8.807092e+06,7.908336e+07
9185,A950010,평산차업 KDR,2013,7.652947e+07,1.017688e+07,9.641428e+06,8.617090e+07
9186,A950010,평산차업 KDR,2014,3.716416e+07,2.423226e+07,1.720457e+07,5.436872e+07
9187,A950070,중국고섬,2011,9.919388e+07,7.440750e+06,NaN,NaN
9188,A950070,중국고섬,2012,8.463835e+07,7.501874e+06,7.471312e+06,9.210966e+07

In [13]:
act['재고자산회전율'].isna().sum()

860

In [14]:
act['재고자산회전율'] = act['재고자산회전율'].round(2)
act.head(20)

,Symbol,Name,회계년,매출원가,재고자산,평균재고자산,재고자산회전율
0,A005930,삼성전자,2011,1.121451e+11,1.571672e+10,NaN,NaN
1,A005930,삼성전자,2012,1.266519e+11,1.774741e+10,1.673206e+10,1.433840e+11
2,A005930,삼성전자,2013,1.376963e+11,1.913487e+10,1.844114e+10,1.561374e+11
3,A005930,삼성전자,2014,1.282788e+11,1.731750e+10,1.822619e+10,1.465050e+11
4,A005930,삼성전자,2015,1.234821e+11,1.881179e+10,1.806465e+10,1.415468e+11
5,A005930,삼성전자,2016,1.202777e+11,1.835350e+10,1.858265e+10,1.388604e+11
6,A005930,삼성전자,2017,1.292907e+11,2.498336e+10,2.166843e+10,1.509591e+11
7,A005930,삼성전자,2018,1.323944e+11,2.898470e+10,2.698403e+10,1.593784e+11
8,A005930,삼성전자,2019,1.472395e+11,2.676646e+10,2.787558e+10,1.751151e+11
9,A005930,삼성전자,2020,1.444883e+11,3.204314e+10,2.940480e+10,1.738931e+11
10,A005930,삼성전자,2021,1.664113e+11,4.138440e+10,3.671377e+10,2.031251e+11
11,A005930,삼성전자,2022,1.900418e+11,5.218787e+10,4.678614e+10,2.368279e+11
12,A000660,SK하이닉스,2011,8.704921e+09,1.183608e+09,NaN,NaN
13,A000660,SK하이닉스,2012,8.550989e+09,1.509331e+09,1.346470e+09,9.897458e+09
14,A000660,SK하이닉스,2013,8.864587e+09,1.178300e+09,1.343816e+09,1.020840e+10
15,A000660,SK하이닉스,2014,9.461725e+09,1.497563e+09,1.337932e+09,1.079966e+10
16,A000660,SK하이닉스,2015,1.051535e+10,1.923376e+09,1.710470e+09,1.222582e+10
17,A000660,SK하이닉스,2016,1.078714e+10,2.026198e+09,1.974787e+09,1.276193e+10
18,A000660,SK하이닉스,2017,1.270184e+10,2.640439e+09,2.333318e+09,1.503516e+10
19,A000660,SK하이닉스,2018,1.518084e+10,4.422733e+09,3.531586e+09,1.871242e+10

In [15]:
kospi = pd.merge(kospi, act, on = ['Symbol', 'Name', '회계년'], how = 'inner')

In [17]:
act.to_csv('코스피_재고자산회전율.csv', index = False, encoding='utf-8-sig')